@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap')


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    .montserrat-subrayada-regular {
        font-family: "Montserrat Subrayada", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .montserrat-subrayada-bold {
        font-family: "Montserrat Subrayada", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
}
      
.header h1{
  margin : 0 !important;
  padding : 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0A192F;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(11, 48, 93); 
  border-radius: 10px;
}

a{
  text-decoration: none;

}

i{
  cursor: pointer;
}

i:hover{
  color: #f5f5f5;
}

/* loader animation */

.M{
animation : M 1s infinite;
}

@keyframes M {
  0%{
    opacity : 1;
  }
  
  50%{
    opacity : 0.5;
  }

  100%{
    opacity : 0.5;
  }
}

.K{
  animation : K 1s infinite;
  }
  
  @keyframes K {
    0%{
      opacity : 0.5;
    }
    
    50%{
      opacity : 1;
    }
  
    100%{
      opacity : 0.5;
    }
  }

  /* input */

  input, textarea { 
    height : 40px;
    border: 1px solid gray;
    width: 100%;
    padding-left: 0px;
  }

  input:focus{
    outline : none;
    border: 2px solid rgb(56,56,56);
  }

textarea{
  height: 100px;
}

